* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  /*
    background-color: hsl(300, 43%, 22%); /*dark pink*/
  /* background-color: hsl(333, 80%, 67%); /*pink*/
  /* background-color: hsl(303, 10%, 53%);/*grey*/
  /*background-color: hsl(300, 24%, 96%);/*offwhite*/
  background-color: hsl(0, 0%, 100%); /*white*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgb,.bgt{
  position: absolute;
}

.bgb{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main11 {
  min-width: 1026px;
  min-height: 540px;
  position: relative;
}
.main11 h1 {
  color: hsl(300, 43%, 22%);
  inline-size: 315px;
  font-size: xxx-large;
}
.main11 .man11 {
  margin-top: 20px;
  inline-size: 556px;
  color: hsl(303, 10%, 53%);
  margin-bottom: 40px;
  font-size: x-large;
}

.ratesbox {
  height: 200px;
  width: 520px;
  /* background-color: aqua;  */
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-flow: column wrap;
}
.ratesbox div {
  min-height: 52px;
  min-width: 352px;
  background-color: hsl(333deg 80% 67% / 7%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: unset;
  font-weight: 600;
}
.ratesbox p {
  margin-left: 10px;
}
.ratesbox .b1 {
  margin-left: 0px;
}
.ratesbox .b3 {
  margin-right: 0px;
}
.main {
  max-width: 1026px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main .one,
.main .two,
.main .three {
  height: 217px;
  width: 325px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .comm {
  inline-size: 268px;
  margin-top: 50px;
  color: white;
}
.main .img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  top: 39px;
  left: 31px;
}
.main .head {
  position: absolute;
  top: 39px;
  font-size: larger;
  color: white;
  font-weight: 500;
  left: 85px;
}
.main .status {
  font-size: initial;
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 57px;
}
.main .one .img {
  background-image: url(../images/image-colton.jpg);
  background-position: center;
  background-size: cover;
}
.main .two .img {
  background-image: url(../images/image-irene.jpg);
  background-position: center;
  background-size: cover;
}
.main .three .img {
  background-image: url(../images/image-anne.jpg);
  background-position: center;
  background-size: cover;
}
.main .three {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.main .one{
    position: absolute;
    left: 0;
}
.main .two{
    position: absolute;
    top: 18px;
}